version: '2'
services:
    sitespeed:
        build: .
        command: -V
        volumes:
            - ./sitespeed-result/:/sitespeed.io/sitespeed-result
        privileged: true
        shm_size: 1g
#    caddy:
#        image: abiosoft/caddy
#        ports:
#            - "2015:2015"
#        volumes:
#            - ./sitespeed-result/:/srv
    grafana:
        image: grafana/grafana:3.1.1        
        links:
            - graphite
            - influxdb
        ports:
            - "3000:3000"
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=hdeAga76VG6ga7plZ1
            - GF_SECURITY_ADMIN_USER=sitespeedio
            - GF_AUTH_ANONYMOUS_ENABLED=true
            - GF_USERS_ALLOW_SIGN_UP=false
            - GF_USERS_ALLOW_ORG_CREATE=false
        volumes:
            - grafana:/var/lib/grafana
        restart: always    
    grafana-setup:
        build: ./grafana-setup
        links:
            - grafana
        environment:
            - GF_PASSWORD=hdeAga76VG6ga7plZ1
            - GF_USER=sitespeedio
    graphite:
        image: sitespeedio/graphite
    influxdb:
        image: tutum/influxdb
        environment:
            - PRE_CREATE_DB="sitespeed"
            - ADMIN_USER="root"
            - INFLUXDB_INIT_PWD="root"
volumes:
    grafana:
