version: '2'
services:
#    sitespeed:
#        build: .
#        command: -V
#        volumes:
#            - ./sitespeed-result/:/sitespeed.io/sitespeed-result
#        privileged: true
#        shm_size: 1g
#    caddy:
#        image: abiosoft/caddy
#        ports:
#            - "2015:2015"
#        volumes:
#            - ./sitespeed-result/:/srv
    grafana:
        image: grafana/grafana
        depends_on:
            - graphite
        links:
            - graphite
        ports:
            - "3000:3000"
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=admin
            - GF_SECURITY_ADMIN_USER=admin
            - GF_AUTH_ANONYMOUS_ENABLED=true
            - GF_USERS_ALLOW_SIGN_UP=false
            - GF_USERS_ALLOW_ORG_CREATE=false
        volumes:
            - grafana:/var/lib/grafana
        restart: always    
    graphite:
        image: sitespeedio/graphite
        ports:
            - "2003:2003"
            - "8081:80"
        restart: always
        volumes:
            - /var/www/sitespeed/graphite:/opt/graphite/storage/whisper      
    grafana-setup:
        #build: ./grafana-setup
        image: sitespeedio/grafana-bootstrap
        links:
            - grafana
        environment:
            - GF_PASSWORD=admin
            - GF_USER=admin
#    influxdb:
#        image: tutum/influxdb
#        environment:
#            - PRE_CREATE_DB="sitespeed"
#            - ADMIN_USER="root"
#            - INFLUXDB_INIT_PWD="root"
volumes:
    grafana:
